@media screen and (max-width: 701px) {
    .edit-meme-container {
        display: block !important;
    }

    .meme-image {
        width: 85vw !important;
        height: 71vh !important;
        margin: 11px auto !important;
    }

    .edit-meme-container form {
        width: 85vw !important;
        margin: 11px auto !important;
    }
}

.edit-meme-container {
    margin-top: 15vh;
    display: flex;
    justify-content: center;
    height: 85vh;
}

.meme-image {
    width: 33vw;
    height: 79vh;
    box-shadow: 0px 0px 3px black;
    display: block;
    margin: 11px;
}

.edit-meme-container form {
    margin: 11px 0px;
    padding: 19px 11px;
    width: 29vw;
    box-shadow: 0px 0px 3px rgb(0, 0, 0);
}

.edit-meme-container form input {
    padding: 7.9px 5px;
    font-size: 15px;
    border-radius: 9px;
    outline: none;
    border: none;
    margin: 5px 1px;
    width: 100%;
    box-shadow: 0px 0px 3px gray;
}

.edit-meme-container form button {
    padding: 9px 5px;
    font-size: 19px;
    border-radius: 9px;
    outline: none;
    border: none;
    margin: 5px 1px;
    min-width: 100%;
    width: 100%;
    box-shadow: 0px 0px 3px gray;
    cursor: pointer;
}

.add-input-txt {
    display: block;
    text-align: right;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 5px;
    cursor: pointer;
}

.cross-sign {
    font-size: 29px;
    margin-left: 3px;
    cursor: pointer;
}